$colorRed: #ea6f5a;
$colorGray: #969696;
$colorGray2: #595959;
$colorBlack: #333;
$colorGreen: #42c02e;
$colorBlue: #3194d0;
$colorPale: #f2f2f2;
$bgBlue: #6dacf4;
$borderGray: #e5e5e5;
$bgNeight: #3f3f3f;
$bgGray: #666;