.register {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  color: $colorGray;
  position: relative;
  .cont {
    width: 400px;
    height: 565px;
    border-radius: 5px;
    padding: 50px 50px 50px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
  }
  a, span{
    display: inline-block;
  }
  .cont_title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    a {
      padding: 10px;
      color: $colorGray;
    }
    .active_a {
      color: $colorRed;
      font-weight: 700;
      border-bottom: 2px solid $colorRed;
    }
  }
  .cont_info {
    font-size: 14px;
    i {
      position: absolute;
      font-size: 16px;
      left: 10px;
    }
    div {
      position: relative;
      line-height: 48px;
    }
    div:nth-child(1) input {
      border-top-left-radius: 3px;
      border-top-left-radius: 3px;
    }
    div:nth-child(4) input {
      border-bottom-width: 1px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .username_info {
      width: 300px;
      height: 50px;
      border: 1px solid $borderGray;
      padding-left: 35px;
      // border-radius: 3px;
      background: #f1f1f1;
      outline: none;
      border-bottom: none;
    }
    & > a {
      margin-top: 20px;
      width: 300px;
      height: 44px;
      font-size: 18px;
      line-height: 44px;
      border-radius: 22px;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;
      background: $colorGreen;
    }
    .remember_me {
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      input {
        width: 14px;
        height: 14px;
        border: 1px solid $borderGray;
        border-radius: 2px;
        vertical-align: middle;
      }
    }
    p {
      line-height: 20px;
      font-size: 12px;
      text-align: center;
      margin-bottom: 0; 
      a {
        color: $colorBlue;
      }
    }
  }
}