.head {
  height: 56px;
  line-height: 55px;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  .head_cont {
    height: 55px;
    width: 1440px;
    margin: 0 auto;
    // .head_logo {
    //   color: $color;
    // }
  }
}