.head {
  height: 56px;
  line-height: 55px;
  border-bottom: 1px solid #f0f0f0;
  .head_cont {
    height: 55px;
    width: 1440px;
    margin: 0 auto;
    position: relative;
    .head_logo {
      color: $colorRed;
      font-size: 26px;
      padding-left: 20px;
      width: 100px;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 700;
    }
    .head_center {
      width: 945px;
      height: 55px;
      line-height: 55px;
      margin: 0 auto;
      padding: 0 10px;
      font-size: 17px;
      span {
        color: $colorBlack;
        font-size: 20px;
        cursor: pointer;
      }
      i {
        font-size: 20px;
      }
      .active_span {
        color: $colorRed;
      }
      & > span {
        margin-right: 40px;
      }
      .input_search {
        width: 240px;
        transition: width .5s linear;
      }
      .input_search input {
        background: #eee;
        border-radius: 16px;
        outline: none;
      }
      .input_search_focused {
        width: 320px;
      }
    }
    .head_set {
      position: absolute;
      top: 0;
      right: 0;
      height: 55px;
      font-size: 16px;
      span {
        display: inline-block;
        margin-right: 30px;
        color: $colorGray;
        text-align: center;
        cursor: pointer;
      }
      .head_style {
        font-weight: 700;
      }
      .head_register {
        width: 80px;
        height: 38px;
        line-height: 36px;
        border: 1px solid $colorRed;
        border-radius: 20px;
        color: $colorRed;
      }
      .head_protrait {
        width: 88px;
        img {
          width: 40px;
          height: 40px;
          text-align: center;
          margin-right: 5px;
          border-radius: 50%;
          line-height: 55px;
        }
        i {
          font-size: 12px;
        }
      }
      .head_write {
        width: 100px;
        height: 40px;
        color: #fff;
        background: $colorRed;
        border-radius: 20px;
        line-height: 40px;
        text-align: center;
      }
    }
  }
}
.sytle_popover {
  .ant-popover-title {
    padding: 0;
  }
  .set_title {
    color: $colorGray;
    height: 100px;
    width: 215px;
    padding: 20px 20px 0 20px;
    line-height: 80px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    .title_button {
      width: 44px;
      height: 40px;
      text-align: center;
      border: 1px solid $borderGray;
      line-height: 38px;
      border-radius: 0;
    }
    .title_turn_on {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: none;
    }
    .title_turn_off {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: none;
    }
    .title_button_active {
      background: $bgBlue;
      color: #fff;
      border-color: $bgBlue;
    }
  }
}
.username_nav {
  i {
    font-size: 14px;
    color: $colorRed;
    margin-right: 20px;
  }
  a {
    color: $colorRed!important;
  }
}