@import './assets/style/reset.css';
@import './assets/style/common.scss';
@import './assets/iconfont/iconfont.css';
@import '~antd/dist/antd.css';
body {
  color: #969696;
}
#root, .App {
  height: 100%;
}
a, span {
  display: inline-block;
}
input, select, textarea {
  outline: none;
}
