@import '~highlight.js/styles/atom-one-dark.css';
.preview {
  height: 100%;
  & > div {
    height: 100%;
  }
  .preview_left {
    color: $colorBlack;
    height: 100%;
    border-right: 1px solid $borderGray;
    & > div {
      height: 100%;
    }
    input {
      height: 60px;
      font-size: 30px;
      border: none;
      padding-left: 40px;
    }
    .set_tag {
      height: 40px;
      line-height: 40px;
      background: #d9d9d9;
      span {
        cursor: pointer;
        margin-left: 20px;
      }
      a {
        color: $colorBlack;
      }
    }
    .article_cont {
      width: 100%;
      height: calc(100% - 115px);
      padding: 40px 40px 80px;
      textarea {
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        font-size: 18px;
      }
    }
  }
  .preview_right {
    height: 100%;
    padding: 40px 40px 80px;
    background: #fcfaf2;
    .preview_title {
      color: $colorBlack;
      font-size: 26px;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    pre {
      border-radius: 4px;
    }
    img {
      display: block;
      margin: 20px auto;
      max-width: 700px;
    }
  }
}
.ant-modal-body {
  text-align: center;
}
.upload_img {
  width: 320px;
  height: 42px;
  background: $bgNeight;
  color: #fff;
  line-height: 42px;
  text-align: center;
}