.writing {
  & > div {
    height: 100%;
  }
  color: $colorPale;
  height: 100%;
  .wirting_left {
    height: 100%;
    background: $bgNeight;
    font-size: 16px;
    .return_home {
      padding: 30px 18px 5px;
      a {
        display: block;
        padding: 9px;
        color: $colorRed;
        text-align: center;
        border: 1px solid $colorRed;
        border-radius: 20px;
        cursor: pointer;
      }
    }
    .set_corpus {
      padding: 0 18px;
      line-height: 40px;
      font-size: 14px;
      font-size: 14px;
      i {
        color: $colorPale;
        font-size: 12px;
      }
    }
    .corpus_list {
      li {
        height: 40px;
        line-height: 40px;
        padding-left: 12px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
      .corpus_active {
        background: $bgGray;
        border-left: 3px solid $colorRed;
      }
    }
  }
  .wirting_right {
    height: 100%;
    & > div {
      height: 100%;
      & > div {
        height: 100%;
      }
    }
    .set_article {
      height: 100%;
      border-right: 1px solid $borderGray;
      overflow-y: scroll;
      .new_article {
        padding: 20px 0 20px 25px;
        line-height: 16px;
        font-size: 15px;
        color: $colorGray2;
        i {
          font-size: 12px;
        }
      }
    }
    .writing_article {
      height: 100%;
    }
  }
}
.set_popover {
  font-size: 12px;
  i {
    font-size: 12px;
  }
  width: 115px;
  .ant-popover-title, .ant-popover-inner-content {
    cursor: pointer;
    min-width: 115px;
    padding: 10px 20px;
    line-height: 20px;
  }
}